<div class="col-xs-6 content_bl">
    <div class="create_txt">
        <p>Здравствуйте.</p>
        <p>Ваша заявка была успешно отправлена. В течение нескольких дней она будет рассмотрена и с вами обязательно свяжутся.</p>
        <p>Благодарим за использование нашего сайта.</p>
    </div>
</div>