<div class="col-xs-6 content_bl">
    <div class="create_txt">
        <p>Здравствуйте.</p>
        <p>Ваше сообщение было успешно отправлено.</p>
        <p>Благодарим за использование нашего сайта.</p>
    </div>
</div>