<% set_title 'Справочная информация' %>
<div class="col-xs-6 content_bl">
    <div class="title_help_trans">
        <p>50-ТИ ТОННЫЙ КРАН ОТ УСТ РАБОТАЕТ НА РОСНЕФТЬ</p>
    </div>
    <div class="txt_help_trans">
        <p>Универсал-Спецтехника осуществила поставку 50-ти тонного крана Grove для компании Роснефть</p>
        <p>Комсомольский нефтеперерабатывающий завод пополнил свой парк техники вездеходным
            подъёмным краном от компании Grove. Тендер на поставку самоходного крана грузоподъёмностью
            50 тонн, выиграла компания Универсал-Спецтехника, лидер в области продажи спецтехники для дорожно-строительных
            и складских работ на территории РФ.</p>
        <p>Модель GMK3050 от известного мирового производителя подъёмной
            техники Manitowoc Crane Group обладает 4-х секционной стрелой с
            максимальной высотой подъёма груза до 40 м и особым трёхосном шасси,
            выполненным из высокопрочной стали. Кроме того, машина оснащена запатентованной
            гидропневматической подвеской с гидравлической блокировкой и системой автоматического выравнивания.</p>
        <p>Кран Grove GMK3050 будет работать на Комсомольском НПЗ в Хабаровском крае и был доставлен в Комсомольск-на-Амуре в
            последних числах 2014 года. В начале 2015 года специалисты Универсал-Спецтехники введут технику в эксплуатацию и
            произведут обучение персонала НПЗ (крановщиков и механиков) для грамотной работы с краном. УСТ также будет осуществлять
            гарантийное и постгарантийное обслуживание машины и поставку запасных частей при необходимости.</p>
    </div>
    <div class="img_help_trance">
        <%= image_tag 'spav_img.jpg' %>
    </div>
</div>
<div class="col-xs-3 right_bl">
    <div class="see_also">
        <div class="title_see_also">
            <p>Читайте также:</p>
        </div>
        <div class="txt_see_also">
            <p>Универсал-Спецтехника всегда держит руку на пульсе важнейших событий отрасли,
                поэтому одной из первых проголосовала за введение официального праздника
                «День экскаваторщика».</p>
        </div>
        <div class="link_reference">
            <%= link_to 'Подробнее »', page_reference_path%>
        </div>
    </div>
</div>