<% set_title 'О компании' %>
<div class="col-xs-9 content_bl">
    <p>Добро пожаловать на сайт нашей строительной компании  «Тамбовстройсервис»!</p>
    <p>ООО «Тамбовстройсервис» работает на рынке ремонтно-строительных услуг с 2006 года.
        Наша строительная компания оказывает качественные и профессиональные услуги по всем видам
        строительно-монтажных и отделочных работ:</p>
    <ul>
        <li><span>Строительство и реконструкция зданий и сооружений.</span></li>
        <li><span>Земляные работы и благоустройство территорий.</span></li>
        <li><span>Ремонт и отделка помещений любой сложности.</span></li>
        <li><span>Монтаж технологического оборудования.</span></li>
        <li><span>Аренда спецтехники и оборудования.</span></li>
    </ul>
    <p>Индивидуальный подход к каждому клиенту обеспечивает профессиональное исполнение любого проекта и дает
        гарантию качества проведенных работ.</p>
    <p>Мы ценим ваше время, поэтому работы производятся нами в самые короткие сроки.
        У нас не бывает простоев или    сбоев в рабочем процессе, так как, производя строительные работы,
        осуществляя ремонт помещений, основным планом    действий для наших строительных бригад является
        рабочий дизайн проект помещения. Бригады четко следуют плану,    организовывают строительные работы
        таким образом, чтобы максимально эффективно использовать каждый час рабочего    времени.
        Работа над Вашим объектом осуществляется с использованием новейших строительных технологий и
        высококачественных материалов.</p>
    <ul>
        <li><span>Высокую эффективность и исполнительность компании</span></li>
        <li><span>Профессионализм и квалифицированность сотрудников</span></li>
        <li><span>Точный расчет сроков и исполнение договорных обязательств</span></li>
        <li><span>Креативные дизайнерские идеи, созданные индивидуально под клиента</span></li>
        <li><span>Технологическую грамотность на всех этапах реализации проекта</span></li>
        <li><span>Высокое качество при правильном ценообразовании</span></li>
    </ul>
</div>