<% set_title 'Фото объектов' %>
<div class="col-xs-9 content_bl">
    <div class="row">
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_cotel_path, class: 'example-image-link', data: { title: "Реконструкция котельной по адресу:  г. Тамбов,ул. Бастионная, 23" } do %>
                <%= image_tag 'img_object_4.jpg', class: 'example-image' %>
                    <p>Реконструкция котельной
                    по адресу:  г. Тамбов,
                    ул. Бастионная, 23</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_optica_path, class: 'example-image-link', data: {title: "Внутренние отделочные работы и устройство крыльца" } do %>
                <%= image_tag 'img_object_8.jpg', class: 'example-image' %>
                <p>Внутренние отделочные работы и устройство крыльца в торговом помещении магазина «Оптика»</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_sochi_path, class: 'example-image-link', data: {title: "Устройство парапета чаши фонтана Сочи" } do %>
                <%= image_tag 'img_object_12.jpg', class: 'example-image' %>
                    <p>Устройство парапета чаши фонтана "Сочи"" по адресу: г.Тамбов, Кронштадская площадь</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_transformer_path, class: 'example-image-link', data: {title: "Общестроительные работы на объекте: Распределительная трансформаторная подстанция 0,4 кВ с двумя трансформаторами мощностью 1000 кВа" } do %>
                <%= image_tag 'img_object_16.jpg', class: 'example-image' %>
                    <p>Cтроительные работы на объекте ...</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_apteki_path, class: 'example-image-link', data: {title: "Сеть аптек в Тамбовской области" } do %>
                <%= image_tag 'img_object_19.jpg', class: 'example-image' %>
                    <p>Сеть аптек в Тамбовской области"</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_svinkomplex_path, class: 'example-image-link', data: {title: "Свиноводческий комплекс в Рассказовском районе" } do %>
                <%= image_tag 'img_object_43.jpg', class: 'example-image' %>
                    <p>Свиноводческий комплекс в Рассказовском районе"</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_hlebzavod_path, class: 'example-image-link', data: {title: "Реконструкция покрытия хлебозавода в г. Рассказово" } do %>
                <%= image_tag 'img_object_46.jpg', class: 'example-image' %>
                    <p>Реконструкция покрытия хлебозавода в г. Рассказово"</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_agrotechnopark_path, class: 'example-image-link', data: {title: "Коттеджный поселок в агротехнопарке Мичуринский" } do %>
                <%= image_tag 'img_object_57.jpg', class: 'example-image' %>
                    <p>Коттеджный поселок в агротехнопарке "Мичуринский"</p>
            <% end %>
        </div>
        <div class="col-xs-4 tech_bl">
            <%= link_to page_photo_object_svobodnaya_path, class: 'example-image-link', data: {title: "9-этажный жилой дом по адресу г. Тамбов, ул. Свободная, 4" } do %>
                <%= image_tag 'img_object_92.jpg', class: 'example-image' %>
                    <p>9-этажный жилой дом по адресу г. Тамбов, ул. Свободная, 4</p>
            <% end %>
        </div>
    </div>
</div>