<% set_title 'Онлайн заявки' %>
<% set_body_class 'online_applic' %>
<div class="col-xs-9 content_bl">
  <p>С помощью этого раздела Вы можете вызвать нашего специалиста, который произведет необходимые
    замеры, выслушает    Ваши пожелания, сделает свои
    предложения, если таковые потребуются и в течении 1-2 дней представит сметный расчет.</p>
  <div class="row">
    <div class="col-xs-5 feedback_bl">
      <div class="feed_input">
        <%= form_tag(send_online_app_path) do %>
          <p><%= label_tag :name, 'Имя' %></p>
          <%= text_field_tag :name %>
          <br>
          <p><%= label_tag :contact, 'Контакт' %></p>
          <%= text_field_tag :contact %>
          <br>
          <p><%= label_tag :place, 'Место выполнения работ' %></p>
          <%= text_field_tag :place, nil, placeholder:'область, район, город и т.д.' %>
          <br>
          <p><%= label_tag :description, 'Описание работ' %></p>
          <%= text_field_tag :description %>
          <%= button_tag "Отправить заказ", class: "btn btn-default" %>
          <% if notice %>
            <div class="create_txt">
              <p id="notice"><span><%= notice %></span></p>
            </div>
          <% end %>
        <% end %>
        <span class="comment_feed">Все поля обязательны для заполнения!</span>
      </div>
    </div>
  </div>
</div>
