<% set_title 'Устройство парапета чаши фонтана "Сочи" по адресу: г.Тамбов, Кронштадская площадь' %>
<% set_body_class 'photo_object_page' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-12 title_object_page">
                        <p>Устройство парапета чаши фонтана "Сочи" по адресу: г.Тамбов, Кронштадская площадь</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                          <%= images_list_for_photo_object(12..15) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
