<% set_title 'Общестроительные работы на объекте: "Распределительная трансформаторная подстанция 0,4 кВ с двумя трансформаторами мощностью 1000 кВа"' %>
<% set_body_class 'photo_object_page' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-12 title_object_page">
                        <p>Общестроительные работы на объекте: "Распределительная трансформаторная подстанция 0,4 кВ
                            с двумя трансформаторами мощностью 1000 кВа"</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                          <%= images_list_for_photo_object(16..18) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
