<% set_title 'Реконструкция котельной по адресу: г. Тамбов, ул. Бастионная, 23' %>
<% set_body_class 'photo_object_page' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-12 title_object_page">
                        <p>Реконструкция котельной по адресу:  г. Тамбов, ул. Бастионная, 23</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                      <div class="row">
                        <%= images_list_for_photo_object(1..3) %>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                          <%= images_list_for_photo_object(4..7) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
