<% set_title 'Внутренние отделочные работы и устройство крыльца в торговом помещении магазина «Оптика» по адресу: г. Тамбов, бульвар Энтузиастов, д. 41, кв. 81' %>
<% set_body_class 'photo_object_page' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-12 title_object_page">
                        <p>Внутренние отделочные работы и устройство крыльца в торговом помещении магазина «Оптика»
                            по адресу: г. Тамбов, бульвар Энтузиастов, д. 41, кв. 81</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <%= images_list_for_photo_object(8..11) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
