<% set_title '9-этажный жилой дом по адресу г. Тамбов, ул. Свободная, 4' %>
<% set_body_class 'photo_object_page' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-12 title_object_page">
                        <p>9-этажный жилой дом по адресу г. Тамбов, ул. Свободная, 4</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                          <%= images_list_for_photo_object(71..94) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
