<% set_title 'Подробнее' %>
<% set_body_class 'reference_page' %>
<div class="col-xs-9 content_bl">
    <div class="row">
        <div class="lsit_nav">
            <ul class="nav navbar-nav">
                <li><a href="#">Градостроительный комплекс</a> </li>
                <li><a href="#">СНиПы</a> </li>
                <li><a href="#">Градостроительный комплекс</a> </li>
                <li><a href="#">Градостроительный комплекс</a> </li>
                <li><a href="#">Градостроительный комплекс</a> </li>
                <li><a href="#">СНиПы</a> </li>
                <li><a href="#">Градостроительный комплекс</a> </li>
            </ul>
        </div>
        <div class="row sprav_obj">
            <div class="col-xs-3">
                <div class="img_sprav">
                    <%= image_tag 'spav_img.jpg' %>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="title_reference">
                    <p>50-ти тонный кран от УСТ работает на Роснефть</p>
                </div>
                <div class="txt_reference">
                    <p>Универсал-Спецтехника осуществила поставку 50-ти тонного крана Grove для компании Роснефть</p>
                </div>
                <div class="link_reference">
                    <a href="#">Подробнее »</a>
                </div>
            </div>
        </div>
        <div class="row sprav_obj">
            <div class="col-xs-3">
                <div class="img_sprav">
                    <%= image_tag 'spav_img.jpg' %>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="title_reference">
                    <p>50-ти тонный кран от УСТ работает на Роснефть</p>
                </div>
                <div class="txt_reference">
                    <p>Универсал-Спецтехника осуществила поставку 50-ти тонного крана Grove для компании Роснефть</p>
                </div>
                <div class="link_reference">
                    <a href="#">Подробнее »</a>
                </div>
            </div>
        </div>
    </div>
</div>