<% set_title 'Сро' %>
<div class="col-xs-9 content_bl">
    <div class="row">
        <div class="col-xs-4 sro_bl">
            <%= link_to image_path('sro_img_2.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                    <%= image_tag 'sro_img_2.jpg', class: 'example-image' %>
            <% end %>
        </div>
        <div class="col-xs-4 sro_bl">
            <%= link_to image_path('sro_img_1.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                <%= image_tag 'sro_img_1.jpg', class: 'example-image' %>
            <% end %>
        </div>
        <div class="col-xs-4 sro_bl">
            <%= link_to image_path('sro_img_1.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                <%= image_tag 'sro_img_1.jpg', class: 'example-image' %>
            <% end %>
        </div>
        <div class="col-xs-4 sro_bl">
            <%= link_to image_path('sro_img_1.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                <%= image_tag 'sro_img_1.jpg', class: 'example-image' %>
            <% end %>
        </div>
    </div>
</div>