<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) + " - " : "" %> ООО “Тамбовстройсервис”</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body class='<%= content_for?(:body_class) ? content_for(:body_class) : "" %>'>
<!— Yandex.Metrika counter —>
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter29119180 = new Ya.Metrika({id:29119180,
        webvisor:true,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29119180" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>
<header>
  <div class="container header">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2 txt_header"></div>
      <div class="col-xs-4 col-xs-offset-3 logo_bl">
        <a href="/"><%= image_tag 'logo.png' %></a>
        <div class="number_header">
          <p>+7 4752 531-271</p>
        </div>
      </div>
    </div>
    <div class="row">
      <nav>
        <ul class="navbar-nav navbar-right">
          <li class="<%= 'active' if action_name == "index" %>"><%= link_to 'О компании', root_path %>
          <li class="<%= 'active' if action_name == "object" || action_name == "photo_object_cotel" || 
            action_name == "photo_object_optica" || action_name == "photo_object_sochi" ||
            action_name == "photo_object_transformer" || action_name == "photo_object_apteki" %>">
            <%= link_to 'Фото объектов', page_object_path %>
          <li class="<%= 'active' if action_name == "technolog_park" %>"><%= link_to 'Парк техники', page_technolog_park_path %>
          <li class="<%= 'active' if action_name == "online_applic" %>"><%= link_to 'Онлайн заявки', page_online_applic_path %>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="<%= 'active' if action_name == "sro" %>"><%= link_to 'Сро', page_sro_path %>
          <li class="<%= 'active' if action_name == "help_transport" %>"><%= link_to 'Справочная информация', page_help_transport_path %>
          <li class="<%= 'active' if action_name == "contact" %>"><%= link_to 'Контакты', page_contact_path %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<content>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 left_nav">
        <nav>
          <ul class="">
            <% if %w(photo_object_cotel photo_object_optica photo_object_sochi photo_object_transformer
             photo_object_apteki photo_object_svinkomplex photo_object_hlebzavod photo_object_agrotechnopark
             photo_object_svobodnaya).include? action_name %>
            <li class="active"><%= link_to 'Фото объектов', page_object_path %>
              <ul class="">
                <li class="<%= 'active' if action_name == "photo_object_cotel" %>">
                  <%= link_to 'Реконструкция котельной по адресу: г. Тамбов, ул. Бастионная, 23', page_photo_object_cotel_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_optica" %>">
                  <%= link_to 'Внутренние отделочные работы и устройство крыльца в торговом помещении магазина
                  «Оптика» по адресу: г. Тамбов, бульвар Энтузиастов, д. 41, кв. 81', page_photo_object_optica_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_sochi" %>">
                  <%= link_to 'Устройство парапета чаши фонтана "Сочи"
                  по адресу: г.Тамбов, Кронштадская площадь', page_photo_object_sochi_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_transformer" %>">
                  <%= link_to 'Общестроительные работы на объекте:
                  "Распределительная трансформаторная подстанция 0,4 кВ
                  с двумя трансформаторами мощностью 1000 кВа"', page_photo_object_transformer_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_apteki" %>">
                  <%= link_to 'Сеть аптек в Тамбовской области', page_photo_object_apteki_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_svinkomplex" %>">
                  <%= link_to 'Свиноводческий комплекс в Рассказовском районе', page_photo_object_svinkomplex_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_hlebzavod" %>">
                  <%= link_to 'Реконструкция покрытия хлебозавода в г. Рассказово', page_photo_object_hlebzavod_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_agrotechnopark" %>">
                  <%= link_to 'Коттеджный поселок в агротехнопарке "Мичуринский"', page_photo_object_agrotechnopark_path %>
                </li>
                <li class="<%= 'active' if action_name == "photo_object_svobodnaya" %>">
                  <%= link_to '9-этажный жилой дом по адресу г.Тамбов,ул.Свободная,4', page_photo_object_svobodnaya_path %>
                </li>
              </ul>
            </li>
            <% else %>
              <li class="<%= 'active' if action_name == "index" %>"><%= link_to 'О компании', root_path %>
              <li class="<%= 'active' if action_name == "object" %>"><%= link_to 'Фото объектов', page_object_path %>
              <li class="<%= 'active' if action_name == "technolog_park" %>"><%= link_to 'Парк техники', page_technolog_park_path %>
              <li class="<%= 'active' if action_name == "online_applic" %>"><%= link_to 'Онлайн заявки', page_online_applic_path %>
              <li class="<%= 'active' if action_name == "sro" %>"><%= link_to 'Сро', page_sro_path %>
              <li class="<%= 'active' if action_name == "help_transport" %>"><%= link_to 'Справочная информация', page_help_transport_path %>
              <li class="<%= 'active' if action_name == "contact" %>"><%= link_to 'Контакты', page_contact_path %>
            <% end %>
          </ul>
          <% if %w(photo_object_cotel photo_object_optica photo_object_sochi photo_object_transformer
            photo_object_apteki photo_object_svinkomplex photo_object_hlebzavod photo_object_agrotechnopark
            photo_object_svobodnaya).include? action_name %>
            <div class="new">
              <a href="http://cbr.ru//" target="_blank">
                <img src="http://bhom.ru/currencies/informer/1-61/" width="88" height="61" alt="Курс валют" title="Курс валют" border="0"/>
              </a><br><br>
              <table cellpadding=0 cellspacing=0 width=200 style="border:solid 1px #20b0fe;font-family:Times New Roman;font-size:12px;background-color:#edece9">
                <tr>
                  <td>
                    <table width=100% cellpadding=0 cellspacing=0>
                      <tr>
                        <td width=8 height=30 background="http://rp5.ru/informer/htmlinfa/topshl.png"  bgcolor=#20b0fe> </td>
                        <td width=* align=center background="http://rp5.ru/informer/htmlinfa/topsh.png" bgcolor=#20b0fe>
                          <a style="color:#ffffff; font-family:Times New Roman;font-size: 12px;" href="http://rp5.ru/8012/ru" target="_blank">
                            <b>Тамбов</b>
                          </a>
                        </td>
                        <td width=8 height=30 background="http://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#20b0fe> </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign=top style="padding:0;">
                    <iframe src="http://rp5.ru/htmla.php?id=8012&lang=ru&um=00000&bg=%23edece9&ft=%23ffffff&fc=%2320b0fe
                      &c=%23000000&f=Times New Roman&s=12&sc=2" width=100% height=150 frameborder=0 scrolling=no style="margin:0;">
                    </iframe>
                  </td>
                </tr>
              </table><br>
            </div>
            <% else %>
              <div class="new_2">
                <a href="http://cbr.ru//">
                  <img src="http://bhom.ru/currencies/informer/1-61/" width="88" height="61" alt="Курс валют" title="Курс валют" border="0"/>
                </a><br><br>
                <table cellpadding=0 cellspacing=0 width=200 style="border:solid 1px #20b0fe;font-family:Times New Roman;font-size:12px;background-color:#edece9">
                  <tr>
                    <td>
                      <table width=100% cellpadding=0 cellspacing=0>
                        <tr>
                          <td width=8 height=30 background="http://rp5.ru/informer/htmlinfa/topshl.png"  bgcolor=#20b0fe> </td>
                          <td width=* align=center background="http://rp5.ru/informer/htmlinfa/topsh.png" bgcolor=#20b0fe>
                            <a style="color:#ffffff; font-family:Times New Roman;font-size: 12px;" href="http://rp5.ru/8012/ru">
                              <b>Тамбов</b>
                            </a>
                          </td>
                          <td width=8 height=30 background="http://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#20b0fe> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign=top style="padding:0;">
                      <iframe src="http://rp5.ru/htmla.php?id=8012&lang=ru&um=00000&bg=%23edece9&ft=%23ffffff&fc=%2320b0fe&c=%23000000&f=Times New  Romans=12&sc=2" width=100% height=150 frameborder=0 scrolling=no style="margin:0;"></iframe>
                    </td>
                  </tr>
                </table>
              </div>
            <% end %>
          </nav>
        </div>
      <%= yield %>
    </div>
  </div>
</content>
</body>
<br><br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>© ООО “Тамбовстройсервис”</p>
      </div>
      <div class="col-xs-11">
        <p>Адрес: 392000, г. Тамбов, ул. Советская, д. 206</p>
        <p>Тел./факс: +7 4752 531-271</p>
        <p>E-mail: <a href="mailto:tss68@mail.ru"> tss68@mail.ru</a></p>
      </div>
      <div class="col-xs-13">
        <br>
        <p>Разработано в <a href="http://www.online-lab.ru" target="_blank">Лаборатории</a></p>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
