<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<%= yield %>
    <h4>Контакты для обратной связи: <%= @contact %>.</h4>

  </body>
</html>